fontmake>=2.4
glyphsLib @ git+https://www.github.com/googlefonts/glyphsLib.git@ce6d45162492e7468e6df2154f4188ea6d1cb2d6
gftools[qa] @ git+https://github.com/googlefonts/gftools@d2f2980
paintcompiler==0.3.2
drawbot-skia>=0.4.8
sh>=1.14.2
bumpfontversion>=0.2.0
diffenator2>=0.2.5

